{% extends "base.html" %}
{% block title %}トップ - {{ super() }}{% endblock %}
{% block content %}
<div class="container">
  <ul>
    <p>こちらで登録/削除したいサービスを選択してください</p>
  </ul>
</div>
<div class="container">
  <table border="0.3" class="table table-hover">
    <tr class="table-success">
      <th scope="col">サービス</th> <th scope="col">登録</th> <th scope="col">削除</th>
    </tr>
    {% for default_service in services_json %}
    <tr>
      <td>{{ default_service }}</td>
        <form action="/register", method="post">
          {% if default_service in services %}
          <td> <input type="radio" class="form-check-input" name="{{default_service}}" value="register" checked="checked"> </td>
          <td> <input type="radio" class="form-check-input" name="{{default_service}}" value="delete"> </td>
          </form>
          {% else %}
          <td> <input type="radio" class="form-check-input" name={{default_service}} value="register"> </td>
          <td> <input type="radio" class="form-check-input" name={{default_service}} value="delete"  checked="checked"> </td>
          {% endif %}
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  <div class="d-flex justify-content-end"">
    <div class="p-2 bd-highlight">
      <input type="submit" class="btn btn-outline-primary"　value="登録">
    </div>
  </div>
</div>

{% endblock %}
