{% extends "base.html" %}
{% block title %}トップ - {{ super() }}{% endblock %}
{% block content %}

<div class="container">
  <div class="card mb-4">
    <div class="card-header">最後の記事取得日時（一度も取得されていない場合、サーバ立ち上げ時刻が表示されます）</div>
    <div class="card-body">
      <p>{{ last_exec }}</p>
    </div>
  </div>
</div>

<div class="container">
    <p class="fs-4">登録/削除したいサービスを選択してください</p>
</div>
<div class="container">
  <table border="0.3" class="table table-hover">
    <tr class="table-success">
      <th scope="col">サービス</th>
      <th scope="col">登録
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
      </th>
      <th scope="col">削除
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
        </svg>
      </th>
    </tr>
    <form action="/register", method="post">
    {% for default_service in services_json %}
    <tr>
      <td>{{ default_service }}</td>
          {% if default_service in services %}
          <td> <input type="radio" class="form-check-input" name="{{default_service}}" value="register" checked="checked"> </td>
          <td> <input type="radio" class="form-check-input" name="{{default_service}}" value="delete"> </td>
          {% else %}
          <td> <input type="radio" class="form-check-input" name={{default_service}} value="register"> </td>
          <td> <input type="radio" class="form-check-input" name={{default_service}} value="delete"  checked="checked"> </td>
          {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  <div class="d-flex justify-content-end">
    <div class="p-2 bd-highlight">
      <input type="submit" class="btn btn-outline-primary mb-5" value="登録">
    </div>
  </div>
</form>
</div>

<div class="container mt-5">
  <ul border="0.3" class="list-group">
      <li class="list-group-item list-group-item-secondary">検索キーワード</li>
    {% for keyword in keywords %}
      <li class="list-group-item">{{ keyword }}</li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
